* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .App {
    font-family: sans-serif;
  }
  .main-container {
    margin: 100px;
    display: flex;
    width: 400px;
    justify-content: space-between;
  }
  .first-list {
    color: red;
    width: 100px;
    height: 210px;
    border: 1px solid black;
  }
  .second-list {
    color: blue;
    width: 100px;
    height: 210px;
    border: 1px solid black;
  }
  .element {
    border: 1px solid #000;
    height: 30px;
    width: 100%;
    text-align: center;
    padding: 1px;
    font-size: 22px;
    cursor: grab;
  }
  